$body-bg: #e7e7e7;

$primary: #456075d3;
$secondary: #12202dab;
$danger: #a7333e;
$success: #419254;
$warning: #ced3d8c7;
$info: #456075ef;
$light: #dfe4ee;
$dark: #343A40;
$white: #FFFFFF;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: #adad4e;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
"blue": $blue,
"indigo": $indigo,
"purple": $purple,
"pink": $pink,
"red": $red,
"orange": $orange,
"yellow": $yellow,
"green": $green,
"teal": $teal,
"cyan": $cyan,
"white": $white,
"gray": $gray,
"gray-dark": $gray-dark
) !default;

// .btn-primary {
//   color: $light;
//   background-color: $primary;
//   border-color: darken($color: $primary, $amount: 10);
//   border-width: medium;
// }